<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>
    <bean id="musicBean" class="com.example.musicplayer.ClassicMusic">
    </bean>
    <bean id="musicPlayer1" class="com.example.musicplayer.MusicPlayer">
        <property name="music" ref="musicBean"/>
<!--        Использование прямой связи через Spring-->
<!--        <property name="playerName" value="Первый плаер"/>-->
<!--        <property name="vol" value="50"/>-->
        <!--        Получение данных из файла свойств-->

        <property name="playerName" value="${musicPlayer.name}"/>
        <property name="vol" value="${musicPlayer.volume}"/>
    </bean>
</beans>